*.swp
*__pycache__*
.mypy_cache
MANIFEST
/dist
/build
venv
.venv/
*.pyc
*.swo
*.eggs
*.egg-info
*.pytest_cache*
*.idea
*.coverage
*.ipynb_checkpoint*
.python-version
.vscode/
!doc_sphinx/api/modules.rst
doc_sphinx/_build/*
doc_sphinx/jupyter_execute/*
doc_sphinx/_build_multiversion/*
.env
ot_integration/*/*
tmp/*
tags
doc_sphinx/js/switcher.json
onetick/query_webapi
one_market_data/
one_market_data*.tar.gz
WebAPI_related/
*.log
*.whl
acl.acl
locator
one_tick_config_webapi.txt
webapi_rel/
/*.txt
onetick/eps_*
dbs/
example_*.py
examples/
nohup.out
TODO.md
.sonarlint/
.DS_Store
